@import "variables";
*:not(i){
    text-align: left;
    color:$black;
    direction:ltr;
}


.form-control{
    text-align: left;
}


.up-page{
    bottom: 15px;
    left: 15px;
    i{
        left: 8px;
        top: 2px;
    }
}
nav {
    .dropdown-menu{
        a{
            span:first-of-type{
                margin-right: 10px;
            }
        }

    }
}
.input-icon{
    span{
        right: 10px;
    }
}

.input-radius-radio{
    margin-right: 10px;
}


.progress-form{
    an:not(:last-of-type)::before{
        content: '';
        left: 34px;
    }
    span:nth-of-type(3)::before{
        left: 36px;
    }
}

/*---------------------------------------------start of home page-----------------------------------------*/
.sub-data {
    .sub {
        a {
            >span:first-of-type {
                margin-right: 20px;
            }
            div{
                p:first-of-type{
                    span:nth-of-type(2){
                        margin-right: 5px;
                    }
                }
            }
            >span:last-of-type{
                right:10px;
            }
        }
    }
}

/*---------------------------------------------end of home page-----------------------------------------*/

/*---------------------------------------------start of filter page-----------------------------------------*/
.special_radio_container {
    .special_radio {
        input{
            margin-left: 0px;
        }
        input.active{
            margin-left: 0px;
        }
    }
}
/*---------------------------------------------end of filter page-----------------------------------------*/



/*---------------------------------------------start of neighbour page------------------------------------*/
.pages{
    span{
        margin-right: 10px;
    }
}
/*---------------------------------------------end of neighbour page------------------------------------*/
